
p,
button {
   color:  white;
}

.borders {
   border: 3px double darkorange;
   border-radius: 10px;
}

.alert-message {
   color: black;
   background-color: pink;
   border: 2px solid red;
}

.blue-bgd {
   background: linear-gradient(to bottom right, lightblue, dodgerblue, darkviolet);
}

.red-bgd {
   background: linear-gradient(to bottom right, pink, red);
}

.violet-bgd {
   background: linear-gradient(to bottom right, violet, darkviolet);
}

.green-bgd {
   background: linear-gradient(to bottom right, greenyellow, rgb(0, 170, 0));
}


/* =================================================== */
/* :Hover - General */
/* =================================================== */
.create-game button:hover,
.player-name button:hover,
.quit-game:hover {
   box-shadow: grey 5px 5px 5px;
}


/* =================================================== */
/* :Active - General */
/* =================================================== */
.create-game button:active,
.player-name button:active,
.quit-game:active {
   box-shadow: rgb(75, 75, 75) 5px 5px 5px;
}


/* =================================================== */
/* Scroll Bars */
/* =================================================== */

/* Mozilla */
.games-list,
.chat-list {
   scrollbar-color: darkviolet lightgray;
}

/* Chrome */
::-webkit-scrollbar {
   width: 8px;
   background: lightgrey;
}

::-webkit-scrollbar-thumb {
   background: darkviolet;
}



/* =================================================== */
/* Game Section */
/* =================================================== */
.menu {
   background: linear-gradient(to right, darkviolet, lightgray);
}

/* :Hover */
.create-game button:hover {
   background: linear-gradient(to bottom right, lightblue, rgb(0, 128, 255), darkviolet);
}

/* :Active */
.create-game button:active {
   background: linear-gradient(to bottom right, lightblue, rgb(0, 81, 161), darkviolet);
}

.games-container,
.chat-container {
   background-color: white;
}

.running-bgd {
   background: linear-gradient(to right, dodgerblue, darkviolet);
}

.ended-bgd {
   background: linear-gradient(to right, lightgray, dimgray);
}


/* ====== Game Name ====== */
.game figure {
   background-color: white;
}

.running-icon {
   color: limegreen;
}

.ended-icon {
   color: dimgray;
}

.delete-game-btn i {
   color: red;
}

/* :Hover */
.delete-game-btn:hover i {
   color: red;
   font-size: 410%;
}

/* :Active */
.delete-game-btn:active i {
   color: black;
}


/* ====== Game ====== */
.quit-game {
   color: black;
}

/* :Active */
.quit-game:active {
   background: linear-gradient(to bottom right, rgb(255, 104, 129), rgb(190, 0, 0));
}



/* =================================================== */
/* Chat Section */
/* =================================================== */
.chat {
   background: linear-gradient(to right, lightgray, dodgerblue);
}

.chat-container {
   background: linear-gradient(to right, orange, lightgrey);
}

.magnifier-btn {
   background-color: dodgerblue;
}

.magnifier-btn i {
   color: white;
}

/* :Hover */
.magnifier-btn:hover {
   background-color: skyblue;
}

/* :Active */
.magnifier-btn:active {
   background-color: royalblue;
}

.player-name p,
.player-name button,
.chat-list,
.chat-container input {
   background-color: white;
}

.player-name p {
   color: black;
}

/* :Active */
.player-name button:active {
   background: linear-gradient(to bottom right, pink, red);
}