
.menu {
   align-content: flex-start;
   height: 100%;
   width: 60%;
}


/* ============================================ */
/* Create New Game */
/* ============================================ */
.create-game {
   justify-content: space-around;
   padding: 30px;
}

/* ====== InputField ====== */
.create-game input {
   width: 50%;
}

/* ====== Button ====== */
.create-game button {
   width: 20%;
}

.create-game button p {
   font-size: 22px;
   padding-right: 20px;
   padding-top: 4px;
}

.create-game button i {
   font-size: 250%;
}


/* ============================================ */
/* Games Container */
/* ============================================ */
.games-container {
   position: relative;
   align-content: flex-start;
   height: 740px;
   width: 95%;
   margin-top: 20px;
}

/* ====== Header ====== */
.games-header {
   justify-content: space-between;
   margin-top: -20px;
   margin-right: -30px;
}


/* ====== Games List ====== */
.games-list {
   visibility: hidden;
   overflow-y: scroll;
   align-content: flex-start;
   justify-content: flex-start;
   scrollbar-width: thin;
   height: 620px;
   margin: 40px;
}


/* ============================================ */
/* Game Name */
/* ============================================ */
.games-list li {
   position: relative;
   justify-content: flex-start;
   overflow: hidden;
   height: 60px;
   margin-top: 15px;
}

.game-name {
   height: 90%;
   width: 90%;
   padding-left: 50px;
}

.game-name p {
   justify-content: flex-start;
   width: 82%;
   padding-left: 50px;
   font-size: 135%;
}

.game-name figure {
   background-color: white;
   border-radius: 50%;
   height: 25px;
   width: 25px;
}

.game-name i {
   font-size: 220%;
}

.delete-game-btn i {
   font-size: 300%;
}

.delete-game-btn {
   border: none;
   background: none;
}


/* ============================================ */
/* Game */
/* ============================================ */
.game {
   visibility: hidden;
   overflow: hidden;
   position: absolute;
   align-content: flex-start;
   top: 45px;
   left: 50%;
   transform: translate(-50%);
}

.game figure {
   box-shadow: black 0px 0px 10px;
}

.game figure img {
   height: 100%;
   width: 100%;
}

.quit-game {
   height: 50px;
   width: 25%;
   font-size: 20px;
   margin-bottom: 25px;
}